:root {
    --color-primary: #F8F8F8;
    --color-secondary: #777;
    --color-tertiary: #1ABC9C;
    --color-quaternary: #474E5D;
    --color-quinary: #FFF;
    --color-senary: #333;
    --color-septenary: #2F2F2F;
    --color-octonary: #337AB7;
    --color-nonary: #858585;
}